# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment/config files
.env

# PyCharm/VSCode/IDE
.idea/
.vscode/

# Build and packaging
*.egg-info/
dist/
build/

# SQLite DB file
*.sqlite3
*.db

# Alembic/migration logs
alembic.ini

# System files
.DS_Store
Thumbs.db
